name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: forge soldeer install --recursive-deps

      - name: Run forge build
        run: forge build

      - name: Run forge fmt check
        run: forge fmt --check

      - name: Run forge test
        env:
          BASE_RPC_URL: https://mainnet.base.org
        run: forge test -vvv
